{%extends 'all_images/base.html'%}
{% block content %} 
{{ block.super}}

<div class="addform">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <a class="btn btn-info backbutton" href="{% url 'gallery' %}">Go Back</a>
                <div class="thisscard">
                    <form class="formcenter" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group m-3">
                            <label>Description</label>
                            <input required name="description" type="text" placeholder="Enter your description" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Select a Category</label>
                            <select name="category" class="form-control">
                                {% for category in categories %}
                                    <option value="{{ image_category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group m-3">
                            <label>Create a new category</label>
                            <input name="new_category" type="text" placeholder="Create a new category" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Upload Image</label>
                            <input required name="image" type="file" class="form-control-file">
                        </div>
                        <button type="submit" class="btn btn-info mybutton">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}