{%extends 'all_images/base.html'%}
{% block content %} 
{{ block.super}}

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                nav
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card my-3">
                            <img src="https://images.pexels.com/photos/2474658/pexels-photo-2474658.jpeg?auto=compress&cs=tinysrgb&w=400" class="image-thumbnail" alt="">
                            
                            <div class="card-body">
                              <small>Category:Pets</small>
                            </div>

                            <a href="" class="btn btn-outline-info btn-sm m-1">Show More</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card my-3">
                            <img src="https://images.pexels.com/photos/2474658/pexels-photo-2474658.jpeg?auto=compress&cs=tinysrgb&w=400" class="image-thumbnail" alt="">
                            <div class="card-body">
                              <small>Category:Pets</small>
                            </div>
                            <a href="" class="btn btn-outline-info btn-sm m-1">Show More</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card my-3">
                            <img src="https://images.pexels.com/photos/2474658/pexels-photo-2474658.jpeg?auto=compress&cs=tinysrgb&w=400" class="image-thumbnail" alt="">
                            <div class="card-body">
                              <small>Category:Pets</small>
                            </div>
                            <a href="" class="btn btn-outline-info btn-sm m-1">Show More</a>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card my-3">
                            <img src="https://images.pexels.com/photos/2474658/pexels-photo-2474658.jpeg?auto=compress&cs=tinysrgb&w=400" class="image-thumbnail" alt="">
                            <div class="card-body">
                              <small>Category:Pets</small>
                            </div>
                            <a href="" class="btn btn-outline-info btn-sm m-1">Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}