{%extends 'all_images/base.html'%}
{% block content %} 
{{ block.super}}
    <div class="container">
        <div class="row thisrow">
            <div class="col">
                <a class="btn btn-info mylink" href="{% url 'gallery' %}">Go Back</a>
                <div class="my-image-div">
                    <img class="my-image" src="{{ photo.image.url }}" alt="">
                </div>
            </div>
            <div class="col">
                <p class="text-center">{{ photo.image_description }}</p>
            </div>
        </div>
    </div>
{% endblock %}